Course/11_data_wrangling_screaming_frog/src/test_data/*
Course/11_data_wrangling_screaming_frog/src/service_account_credentials/*
Course/in_progress_modules/data_wrangling_screaming_frog/src/test_data/*
Course/in_progress_modules/data_wrangling_screaming_frog/src/service_account_credentials/*
